<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>TBF</title>
    <link rel="STYLESHEET" type="text/css" href="code/css/estilo_index.css"> 
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<script src="../../js/Three.js"></script>
<script src="../../js/Detector.js"></script>
<script src="../../js/Stats.js"></script>
<script src="../../js/OrbitControls.js"></script>
<script src="../../js/THREEx.KeyboardState.js"></script>
<script src="../../js/THREEx.FullScreen.js"></script>
<script src="../../js/THREEx.WindowResize.js"></script>
<script src="../../js/libs/tween.min.js"></script>

<script type="text/javascript">

$(document).ready(function(){
  $("#bloque_5").hover(function(){
  	if (!detectmob()){
    replace_load('/welcome/test_trial.html', 'aux');
	}
    },function(){

  });
});


function detectmob() { 
 if( navigator.userAgent.match(/Android/i)
 || navigator.userAgent.match(/webOS/i)
 || navigator.userAgent.match(/iPhone/i)
 || navigator.userAgent.match(/iPad/i)
 || navigator.userAgent.match(/iPod/i)
 || navigator.userAgent.match(/BlackBerry/i)
 || navigator.userAgent.match(/Windows Phone/i)
 ){
    return true;
  }
 else {
    return false;
  }
}

/*
function initialize(){
	document.addEventListener( 'mousemove', over_listener, false );
}

function over_listener(event){
	//limpio cualquie accion default del rails
	event.preventDefault();
	replace_load('/welcome/test_trial.html', 'aux');

}
*/

function replace_load(pagina_requerida, id_contenedor)
{
	var div_c =  '#' + id_contenedor	
	$(div_c).load(pagina_requerida);

}

</script>


<body>
	<!--<button onclick="cambiar()">Cambiar</button>-->
	<!--<button onclick="replace_load('/welcome/test_trial.html', 'aux')">Cambiar</button>-->
	<div id="aux">
		<div id="contenido">
			<div id="bloque_1">
	        	<img src="../../images/bloque_1.png">
			</div>
			<div id="bloque_2">
				<div id="bloque_2_1" class="bloque_2">
	 				<% unless User.find_by(id: session[:user_id]) %>
						<%= form_tag do %>
							<% if flash[:alert] %>
								<p id="notice"><%= flash[:alert] %></p>
							<% end %>
							<div>
								<%= label_tag :username, 'Name:' %> </br>
								<%= text_field_tag :username, params[:username] %>
							</div>
							<div>
								<%= label_tag :password, 'Password:' %></br>
								<%= password_field_tag :password, params[:password] %>
							</div>
							<div>
								<%= submit_tag "Login" %>
							</div>
						<% end %>

							<div>
								<%= link_to "Recuperar Password", new_recover_password_path %>
								<p><%= link_to "forgotten password?", new_password_reset_path %></p>
								
							</div>
					<% else %>
						<p>Bienvenido <%= "#{session[:uname]}"%></p>
						<%= link_to "Cambiar Password", new_cambiar_password_path %>
						<%= button_to 'Logout', logout_path, method: :delete %>
					<%end %>
				</div>        
			</div>
			<div id="bloque_3">
				<img src="../../images/tbfDatos.jpg">        
			</div>
			<%= link_to(contacto_url) do %> 
					<div id="bloque_4">
					  <div id="bloque_4_1" class="contenido_bloques"> 
			           
			          </div>        
			        </div> 
					<div id="bloque_5">
			 			<div id="bloque_5_1" class="contenido_bloques"> 
			            
			            </div>         
					</div>
					<div id="bloque_6">
			 			<div id="bloque_6_1" class="contenido_bloques"> 
			            
			            </div>         
					</div>
					<div id="bloque_7">
			 			<div id="bloque_7_1" class="contenido_bloques"> 
			            
			            </div>         
					</div>
			<% end %> 
			<div id="bloque_8">
	            
			</div>    
			<div id="bloque_9">
			</div>                                                          
		</div>
		
	</div>	
</body>
</html>

